.show_container
  %h1.theme
    %p.title
      #{@theme.hash_tag}
    %p.subscribe
      「結婚」って素敵だな。そう思えるキャッチコピー
  .image
    = image_tag("sample.jpg", class:"guide-img")

  .posted_box
    %ul.posted_lists
      - @copies.each do |copy|
        %li.posted_list
          = copy.text
          %p.posted_user
            created by #{copy.user.username}
  .post
    .post_btn
      = link_to "/themes/#{@theme.id}/topics/#{@topic.id}/copies/new" do
        %p 作成

